<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>well come home page</h1>
    <h1>{{personal.name}}</h1>
    <button type="submit"><a href="{% url 'personal' %}">Personal</a></button><br>
    <button type="submit"><a href="{% url 'contactaddress' %}">contact address</a></button><br>
    <button type="submit"><a href="{% url 'emergencycontact' %}"> emergency contact</a></button><br>
    <button><a href="{% url 'course_list' %}">assessment results</a></button><br>
    <button><a href="{% url 'logout' %}">logout</a></button>
    <h1>{{personal.name}}</h1>

</body>
</html>