<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">well come to login page </h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">username:</label>
        <input type="text" name="username" id="" placeholder="username"><br>
        <label for="">password:</label>
        <input type="password" name="password" id="" placeholder="password"><br>
        <button type="submit">login</button><br>
        <a href="{% url 'register' %}"> go to register page </a>
    </form>
</body>
</html>