<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/personal.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Personal Page</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>